* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #FFF;
    color:#444;
    /*font-family: Helvetica, Arial, sans-serif;*/
    font-family: 'Roboto', serif;
    font-size: 1em;
    line-height: 1.8em;
    font-weight:300;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Montserrat', sans-serif;
    font-weight:400;
    line-height: 1.2em;
    margin:1em 0;
    /*text-transform: uppercase;*/
}

a {
    color: inherit;
    text-decoration:none;

}

blockquote {
    background-color: rgb(230, 230, 230);
    padding: 0.5rem 1.5rem;
    font-style: italic;
    border-left: 2px solid rgb(216, 216, 216);
}


hr{
    border:1px solid #e6e6e6;
}

p, .row{
    margin:1em 0;
}

.row2 {
    padding: 1em;
}

/*  L A Y O U T  */

.l-left{
    float:left;
}
img.l-left{
    margin:0 16px 16px 0;
}

.l-right{
    float:right;
}
img.l-right{
    margin:0 0 16px 16px;
}

.t-right {
    text-align: right;r
}

.site{
    width:720px;
    margin:auto;
}

.hero{
    text-align: center;
    padding:128px 0;
    background: url(../img/header_bg.jpg) no-repeat center center;
    background-size: cover;
}

.content{
    padding:16px;
    max-width:700px;
    margin:auto;
}

audio{
    width:100%;
}

/*
|--------------------------------------------------------------------------
| Navigation
|--------------------------------------------------------------------------
|
*/

.menu{
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    background-color: #e6e6e6;
    color: #444;
    position:absolute;
    top:42px;
    width:100%;
    text-align: left;
    display:none;
    font-size: 13px;
    letter-spacing: 1px;
}

.menu a{
    display:block;
    padding:24px 16px;

}

@media all and (min-width: 50em) {
    .menu{
        position:static;
        display:block;
        text-align: center;
    }
    .menu li{
        display:inline-block;
    }

    .nav_toggle{
        display:none;
    }
}

/*
|--------------------------------------------------------------------------
| Menu Functional Styles
|--------------------------------------------------------------------------
*/

#toggle{display: none;}



/*.menu { display: none; opacity: 0; width: 100%; position: absolute; right: 0; }
.menu > li { display: block; width: 100%; margin: 0; }
.menu > li > a { display: block; width: 100%; text-decoration: none; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.toggle { display: block; position: relative; cursor: pointer; -webkit-touch-callout: none; -webkit-user-select: none; user-select: none; }*/
#toggle:checked + div .menu { display: block; opacity: 1;}



/*
|--------------------------------------------------------------------------
| Navigation Toggle
|--------------------------------------------------------------------------
|
| Hamburger!
|
*/
#toggle:checked + div .nav_toggle{
    background-color: #121212;
}

.nav_ham{
    height:4px;
    background-color: white;
    margin-bottom:4px;
    display: block;
}

.nav_toggle{
    top:0;
    left:0;
    padding:12px;
    position: absolute;
    width:24px;
    height:24px; }


/*
|--------------------------------------------------------------------------
| Posts
|--------------------------------------------------------------------------
|
*/

.posts{
    list-style-type: none;
}

.post{
    padding:16px 0;
    border-top:2px solid #e6e6e6;
    display:block;
    overflow: hidden;
    /*//font-size: 13px;*/
}

.post_title{
    font-size:18px;
    color:#333;
}

.meta{
    color:#888;
    text-transform: capitalize;
}

.post_meta {
    font-size: .9em;
    color: #888;
}

/*.post_date{
    float:right;
}*/

/*
|--------------------------------------------------------------------------
| Modules
|--------------------------------------------------------------------------
|
*/
.map{
    background-color: #ccc;
}
.map > iframe{
    display: block;
    height:320px;
}

.avatar{
    border-radius: 100%;
    margin-bottom:0 !important;
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*
|--------------------------------------------------------------------------
| Media Queries
|--------------------------------------------------------------------------
|
| Description
|
*/

@media all and (min-width: 50em) {
    .content{
        margin-bottom:64px;
    }
}


.usercontent ul {
    padding-left: 32px;
    list-style-type: disc;
}

.post a,
.usercontent a{
    color:#5498CE;
    text-decoration: underline;
    white-space: pre-wrap;
}


