---
layout: default
---

<p>From December, Melbourne Evangelical Church will be combining with <a class="link" href="http://crossculture.net.au/">Cross Culture Church of Christ</a>, an evangelical ministry in the CBD of Melbourne.</p>

<h2>Bible Talks</h2>
<div id="home">
    <ul class="posts">
    {% for post in site.posts %}
            {% capture month %}{{ post.date | date: '%m%Y' }}{% endcapture %}
            {% capture nmonth %}{{ post.next.date | date: '%m%Y' }}{% endcapture %}


            {% if post.layout == 'post' %}
            <li>
                <a class="post" href="{{ post.url }}">
                    <span class="right post_meta">
                        <time class="post_date">{{ post.date | date_to_string }}</time>

                    </span>
                    <span class="post_title">{{ post.title }}</span>
                    <small class="post_meta">{{post.passage}}</small>
                </a>
            </li>
        {% endif %}
    {% endfor %}
    </ul>
</div>

<h2>Articles</h2>
<div id="home">
    <ul class="posts">
        {% for post in site.posts %}
            {% if post.layout == 'article' %}
                <li>
                    <a class="post" href="{{ post.url }}">
                    <span class="right t-right post_meta">
                        <span class="post_author">{{post.author}},</span>
                        <time class="post_date">{{ post.date | date_to_string }}</time>
                    </span>
                    <div class="post_title">{{ post.title }}</div>
                </a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</div>

