@import '../node_modules/tunic/tunic';


@include tunic-fontface('Klinic Slab' 'fonts/KlinicSlab-Light' 100);
@include tunic-reset;


@import 'base';
@import 'type';

@import 'components/avatar';
@import 'components/content';
@import 'components/hero';
@import 'components/map';
@import 'components/markdown';
@import 'components/navigation';
@import 'components/post';


.left{
    float:left;
}
img.left{
    margin:16px;
}

.right{
    float:right;
}
img.right{
    margin:0 0 16px 16px;
}





@include tunic-structure;

