@import '../node_modules/tunic/tunic';


@include tunic-fontface('Klinic Slab' 'fonts/KlinicSlab-Light' 100);
@include tunic-reset;


@import 'base';
@import 'type';

@import 'components/avatar';
@import 'components/content';
@import 'components/hero';
@import 'components/map';
@import 'components/markdown';
@import 'components/navigation';
@import 'components/post';


.left{
    float:left;
}
img.left{
    margin:16px;
}

.right{
    float:right;
}
img.right{
    margin:0 0 16px 16px;
}


.w50 {
    width: 50%;
}

.Table {
    th {
        padding: 1rem;
        // text-align: left;
        background-color: #ddd;
        border: 1px solid #ddd;
    }
    td {
        border: 1px solid #ddd;
        padding: 1rem;
    }
}




@include tunic-structure;

