---
layout: default
title: Bible Talks
---

<div id="home">
    {% for post in site.posts %}
            {% capture month %}{{ post.date | date: '%m%Y' }}{% endcapture %}
            {% capture nmonth %}{{ post.next.date | date: '%m%Y' }}{% endcapture %}

            {% if month != nmonth %}
                {% if forloop.index != 1 %}</ul>{% endif %}
                <h2>{{ post.date | date: '%B' }}</h2><ul class="posts">
            {% endif %}

            {% if post.layout == 'post' %}
            <li>
                <a class="post" href="{{ post.url }}">
                    <span class="right post_meta">
                        <time class="post_date">{{ post.date | date_to_string }}</time>

                    </span>
                    <div class="post_title">{{ post.title }}</div>
                    <small class="post_meta">
                        {{post.passage}},
                        {{post.author}}
                    </small>
                </a>
            </li>
        {% endif %}
    {% endfor %}
    </ul>
</div>
