
.usercontent ul {
    padding-left: 32px;
    list-style-type: square;
}

.post a,
.usercontent a,
.link{
    color:#5498CE;
    text-decoration: underline;
    white-space: pre-wrap;
}


article img {
    display: block;
    margin: auto;
}
