<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>{{ page.title }} - Melbourne Evangelical</title>
		<meta name="viewport" content="width=device-width">
		<link rel="stylesheet" href="/css/main.css">
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

	</head>
	<body>

		<div class="site">
		<div class="header">
			<h1 class="title"><a href="/">{{ site.name }}</a></h1>

			<nav>
				<a href="/">Bible Talks</a>
				<a href="/events/">Events</a>
				<a href="/about/">About Us</a>
				<a href="/beliefs/">Our Beliefs</a>
				<a href="/contact/">Contact Us</a>
			</nav>
			          
		</div>
			<h1>{{page.title}}</h1>
		  {{ content }}

	</body>
</html>
