<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>{{ page.title }} - Melbourne Evangelical</title>
		<meta name="description" content="{{ site.description }}">
		<meta name="keywords" content="{{ site.keywords }}">
		<meta name="viewport" content="width=device-width">
		<link rel="stylesheet" href="/res/css/main.css">
		<link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.url }}/feed.xml">
		<link href='http://fonts.googleapis.com/css?family=Montserrat:400' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Roboto:300,700' rel='stylesheet' type='text/css'>
		<link href="/res/img/apple-touch-icon-57x57.png" rel="apple-touch-icon-precomposed" sizes="57x57" />
		<link href="/res/img/apple-touch-icon-72x72.png" rel="apple-touch-icon-precomposed" sizes="72x72" />
		<link href="/res/img/apple-touch-icon-114x114.png" rel="apple-touch-icon-precomposed" sizes="114x114" />
		<link href="/res/img/apple-touch-icon-144x144.png" rel="apple-touch-icon-precomposed" sizes="144x144" />
		{% comment %}<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>{% endcomment %}

	</head>
	<body>

		<div class="header">

			
			<div class="hero">
				<img src="/res/img/logo.png" alt="Melbourne Evangelical Church" height="60">
			</div>
			<nav>			
				<input type="checkbox" id="toggle" />
				<div>
				    <label class="nav_toggle" for="toggle" onclick>
				    	<span class="nav_ham"></span>
				    	<span class="nav_ham"></span>
				    	<span class="nav_ham"></span>
				    </label>
				    <ul class="menu">
				    	<li><a href="/">Events</a></li>
						<li><a href="/about/">About Us</a></li>
						<li><a href="/talks">Bible Talks</a></li>
						{% comment %}<li><a href="/beliefs/">Our Beliefs</a></li>{% endcomment %}
						<li><a href="/contact/">Contact Us</a></li>
				    </ul>
				</div>
			</nav>
			
		</div>
		

		<div class="content">
			<h1>{{page.title}}</h1>
		  	{{ content }}
		</div>


		<script src="/res/js/analytics.js"></script>


	</body>
</html>
