---
layout: default

---
<p class="meta">{{ page.date | date_to_string }} | {{page.author}}</p>

<div class="post">

<audio src="{%talkURL%}" controls>
<p>Your browser does not support the audio element.</p>
</audio>

<h2>{{page.passage}}</h2>
{% comment %}
<div class="js-passage"></div>
<script>
	$.ajax({
	    url: "https://bibles.org/v2/chapters/eng-NIV:1Cor.2/verses.js",
	    type: 'GET',
	    username:"{{site.bibleAPIKey}}",
	    contentType: "application/json",
	    dataType: "json",
	    callback: 'callback',
	    // crossDomain: true,
	    // jsonp: 'jsonp', 
	    // success:function(data, textStatus, jqXHR) {
	    // 	console.log("success");
	    // 	console.log(data, textStatus, jqXHR);
	    // },
	    // error: function(jqXHR, textStatus, errorThrown) {
	    // 	console.log("failure");
	    // 	console.log(jqXHR, textStatus, errorThrown);
	    // }
	});
	function callback(a){
		console.log(a)
	}
	// curl -L -u #{API Token}:X -k https://bibles.org/v2/verses/eng-GNTD:Acts.8.34.xml
</script> 
{% endcomment %}

{{ content }}
</div>

